<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks Index</title>
</head>
<body>
    <h1>Welcome to GitPub!</h1>
    <ul>
    <% for(let i = 0; i < allDrinks.length; i++){ %>
            <li>
                <a href="/drinks/<%= i %>">

                    <!-- Capitalizing the first letter of the string was easy, but capitalizing the first letter of each word of the string, leaving some room for exceptions, was more difficult. Got some help at https://www.freecodecamp.org/news/how-to-capitalize-words-in-javascript/ -->
                    <% const fullDrink = allDrinks[i].name;
                    const brokenDrink = fullDrink.split(" ");
                    for (let x = 0; x < brokenDrink.length; x++) {
                    if(brokenDrink[x] === "on" || brokenDrink[x] === "the" || brokenDrink[x] === "if" || brokenDrink[x] === "to" || brokenDrink[x] === "stateMint"|| brokenDrink[x] === "julep"){
                        brokenDrink[x] = brokenDrink[x][0]+ brokenDrink[x].substr(1);
                    }
                    else{
                        brokenDrink[x] = brokenDrink[x][0].toUpperCase() + brokenDrink[x].substr(1);}
                    }
                    const revisedDrink = brokenDrink.join(" ");%>
                    <%= revisedDrink %>

                </a>
            </li>

        <% } %>
    </ul>
</body>
<style>
  body {
    color: blanchedalmond;
    background-color: steelblue;
  }
</style>
</html>
