<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Index</title>
</head>
<body>
    <ul><h1><u>Food Menu</u></h1>
    <% for(let i = 0; i < allFoods.length; i++){ %>
            <li>
                <a href="/foods/<%= i %>">
                    <%= allFoods[i].name%>
                </a>
            </li>
        <% } %>
    <br><br>
    <a href="http://localhost:3000/drinks"><i>Go to Drinks Menu</i></a><br><br>
    <a href="http://localhost:3000/"><i>Go to Main Menu</i></a><br><br>
    </ul>
</body>
<style>
  body {
    color: blanchedalmond;
    background-color: steelblue;
    text-align: center;
  }

  li{
      list-style-type: none;
      padding: 10px 0px 0px 0px;
      font-weight: bold;
  }

  ul{
      background-color: gray;
      border: solid black 1px;
      border-radius: 20px;
  }

</style>
</html>