<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Info</title>
</head>
<body>
    <h1>At foo(d) bar</h1>
    <h2><%=food.name%></h2>
    <img src="<%=food.image%>" width="250px" height="250px">
    <h3>$<%=food.price%></h3>
    <h4>Food Index Number: <%=number%></h4>
    <a href="http://localhost:3000/foods"><i>Back to Index</i></a><br><br>
    <a href="http://localhost:3000/"><i>Go to Main Menu</i></a>
</body>
<style>
  body {
    color: blanchedalmond;
    background-color: steelblue;
    text-align: center;
  }
</style>
</html>